apiVersion: v1
kind: Config
clusters:
  - cluster:
      server: https://omni.toolsera.fr:8100/
    name: omni-talos-prod
contexts:
  - context:
      cluster: omni-talos-prod
      namespace: default
      user: omni-talos-prod-markkpamy@gmail.com
    name: omni-talos-prod
current-context: omni-talos-prod
users:
- name: omni-talos-prod-markkpamy@gmail.com
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      args:
        - oidc-login
        - get-token
        - --oidc-issuer-url=https://omni.toolsera.fr/oidc
        - --oidc-client-id=native
        - --oidc-extra-scope=cluster:talos-prod
      command: kubectl
      env: null
      provideClusterInfo: false
