{{- /* AWS Config Template - Direct BWS Integration */ -}}
{{- /* Fetch profile metadata from BWS */ -}}
{{- $profilesJson := "" -}}
{{- if .aws.enabled -}}
{{- if lookPath "bws" -}}
{{- if env "BWS_ACCESS_TOKEN" -}}
{{- $bwsResult := output "bws" "secret" "get" "aws-profiles-metadata" "--access-token" (env "BWS_ACCESS_TOKEN") "--output" "json" -}}
{{- $bwsData := $bwsResult | fromJson -}}
{{- $profilesJson = $bwsData.value | fromJson -}}
{{- end -}}
{{- end -}}
{{- end -}}

[default]
region = eu-west-3
output = json
{{- if eq .chezmoi.os "windows" }}
credential_process = powershell.exe -File "{{ .chezmoi.homeDir }}\.local\bin\aws-bw-credentials.ps1"
{{- else }}
credential_process = {{ .chezmoi.homeDir }}/.local/bin/aws-bw-credentials
{{- end }}

[profile default]
region = eu-west-3
output = json
{{- if eq .chezmoi.os "windows" }}
credential_process = powershell.exe -File "{{ .chezmoi.homeDir }}\.local\bin\aws-bw-credentials.ps1"
{{- else }}
credential_process = {{ .chezmoi.homeDir }}/.local/bin/aws-bw-credentials
{{- end }}

{{- /* Generate role-based profiles from BWS data */ -}}
{{- if $profilesJson }}
{{- range $profileName, $profileData := $profilesJson }}

[profile {{ $profileName }}]
region = {{ $profileData.region }}
role_session_name = {{ $profileData.session_name }}
role_arn = arn:aws:iam::{{ $profileData.account_id }}:role/{{ $profileData.role_name }}
source_profile = default
{{- if $profileData.output }}
output = {{ $profileData.output }}
{{- end }}
{{- end }}
{{- else }}
{{- /* Fallback: Use static config if BWS not available */ -}}

[profile nx_training_advanced]
region = eu-west-3
role_session_name = mark.kpamy
role_arn = arn:aws:iam::766272829042:role/nx-training-advanced
source_profile = default

[profile nx_datahub_advanced]
region = eu-west-3
role_session_name = mark.kpamy
role_arn = arn:aws:iam::261001339617:role/nx-datahub-advanced
source_profile = default

[profile nx_training_master]
output = json
region = eu-west-1
role_session_name = mark.kpamy
role_arn = arn:aws:iam::766272829042:role/nx-training-master
source_profile = default

[profile nx_profile]
region = eu-west-3
role_session_name = mark.kpamy
role_arn = arn:aws:iam::766272829042:role/nx-training-master
source_profile = default

[profile nx-presales-advanced]
region = ap-southeast-1
role_arn = arn:aws:iam::666841086193:role/nx-presales-advanced
role_session_name = nxsa-visage-apac
source_profile = default

[profile nx-presales-master]
region = ap-southeast-1
role_arn = arn:aws:iam::666841086193:role/nx-presales-master
role_session_name = nx-presales-master
source_profile = default

[profile nx_datahub_master]
output = json
region = eu-west-3
role_session_name = mark.kpamy
role_arn = arn:aws:iam::261001339617:role/nx-datahub-master
source_profile = default

[profile nx_renovation_master]
output = json
region = eu-west-3
role_session_name = mark.kpamy
role_arn = arn:aws:iam::248189924076:role/nx-renovation-master
source_profile = default

[profile nx_renovation_advanced]
output = json
region = eu-west-3
role_session_name = mark.kpamy
role_arn = arn:aws:iam::248189924076:role/nx-renovation-advanced
source_profile = default

[profile mk_root_admin]
sso_session = sso
sso_account_id = 409348746500
sso_role_name = AdministratorAccess
region = eu-west-1
output = json

[profile mk_sandbox_admin]
sso_session = sso
sso_account_id = 347264101318
sso_role_name = AdministratorAccess
region = eu-west-1
output = json

[sso-session sso]
sso_start_url = https://d-906785cef1.awsapps.com/start#
sso_region = us-east-1
sso_registration_scopes = sso:account:access
{{- end }}
