# For Fish on Linux
if test -d "/home/linuxbrew/.linuxbrew"
  eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
end

# Enable true color support for Micro editor
set -x MICRO_TRUECOLOR 1

set -x ENHANCD_ENABLE_DOUBLE_DOT false
