[default]
region = eu-west-3
output = json
cli_pager=

# Personal AWS SSO profiles
[profile mk_root_admin]
sso_session = mk-personal
sso_account_id = 409348746500
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

[profile mk_sandbox_admin]
sso_session = mk-personal
sso_account_id = 347264101318
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

# NX Organization SSO profiles
[profile nx_compliance_master]
sso_session = nx-org
sso_account_id = 148792395952
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

[profile nx_compliance_advanced]
sso_session = nx-org
sso_account_id = 148792395952
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

[profile nx_profile]
sso_session = nx-org
sso_account_id = 148792395952
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

[profile nx_training_master]
sso_session = nx-org
sso_account_id = 766272829042
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

[profile nx_training_advanced]
sso_session = nx-org
sso_account_id = 766272829042
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

[profile nx_datahub_master]
sso_session = nx-org
sso_account_id = 261001339617
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

[profile nx_datahub_advanced]
sso_session = nx-org
sso_account_id = 261001339617
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

[profile nx_presales_master]
sso_session = nx-org
sso_account_id = 666841086193
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

[profile nx_presales_advanced]
sso_session = nx-org
sso_account_id = 666841086193
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

[profile nx_renovation_master]
sso_session = nx-org
sso_account_id = 248189924076
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

[profile nx_renovation_advanced]
sso_session = nx-org
sso_account_id = 248189924076
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

[profile nx_delivery_master]
sso_session = nx-org
sso_account_id = 193293424588
sso_role_name = AdministratorAccess
region = eu-west-3
output = json

# SSO Session Configurations
[sso-session mk-personal]
sso_start_url = https://d-906785cef1.awsapps.com/start#
sso_region = us-east-1
sso_registration_scopes = sso:account:access

[sso-session nx-org]
sso_start_url = https://d-9067d7434a.awsapps.com/start/#
sso_region = us-east-1
sso_registration_scopes = sso:account:access

[profile mark.kpamy]
