font-family = JetBrainsMono Nerd Font
background-blur = false
font-size = {{ .terminalFontSize }}
background-opacity = 1
confirm-close-surface = false
bold-is-bright = false
cursor-style-blink = false
theme = catppuccin-mocha
