version: 7
profiles: []
groups: []
configSync:
  parts: {}
hotkeys:
  toggle-window:
    - Ctrl-Space
terminal:
  searchOptions: {}
  colorScheme:
    name: Catppuccin Mocha
    foreground: '#cdd6f4'
    background: '#1e1e2e'
    cursor: '#f5e0dc'
    colors:
      - '#45475a'
      - '#f38ba8'
      - '#a6e3a1'
      - '#f9e2af'
      - '#89b4fa'
      - '#f5c2e7'
      - '#94e2d5'
      - '#bac2de'
      - '#585b70'
      - '#f38ba8'
      - '#a6e3a1'
      - '#f9e2af'
      - '#89b4fa'
      - '#f5c2e7'
      - '#94e2d5'
      - '#a6adc8'
  font: JetBrainsMono NF
  ligatures: true
ssh: {}
clickableLinks: {}
accessibility: {}
appearance: {}
hacks: {}
providerBlacklist: []
commandBlacklist: []
enableWelcomeTab: false
pluginBlacklist: []
